<!DOCTYPE html>
<html>
<head>
    <title>站内信</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/min/sm.css">
    <link rel="stylesheet" href="../css/min/sm-extend.css">
    <link rel="stylesheet" href="../css/min/flexBox.css">
    <link rel="stylesheet" href="../css/tonXin.css">
    <script type='text/javascript' src='../js/vue.min.js' charset='utf-8'></script>
    <style>
        .content-block {
            margin: 0px;
            padding: 0px;
        }

        li {
            background-color: #fff;
        }

        .tabs ul li {
            padding: .2rem 0 0 .5rem;
            height: 3rem;
        }

        dt {
            background: none;
            /* transform: translate3d(.4rem,0,0);
             -webkit-transform: translate3d(.4rem,0,0);*/
            width: 100%;
            height: 0px;
            border-top: 1px solid #d8d8d8;
            color: #d9d9d9;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
        }

        #job_siftings {
            position: fixed;
            font-size: .7rem;
            top: 2.2rem;
            z-index: 99999;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, .5);
            overflow: hidden;
            display: none;
        }

        #job_siftings .bg_siftings {
            background: #fff;
            padding: 0 .4rem;
            color: #333;
            transform: translate3d(0, -8.1rem, 0);
            -webkit-transform: translate3d(0, -8.1rem, 0);
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
        }

        #job_siftings .active_siftings {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
        }

        .time_siftings {
            margin-top: .5rem;
        }

        .time_siftings div:nth-child(1) {
            margin-right: .4rem;
        }

        .time_siftings div:nth-child(2) input {
            height: 1.5rem;
            text-indent: .3rem;
            border: 1px solid #d8d8d8;
            /*-webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);*/
        }

        .time_siftings div:nth-child(4) input {
            height: 1.5rem;
            text-indent: .3rem;
            border: 1px solid #d8d8d8;
        }

        .time_siftings div:nth-child(3) {
            width: 1rem;
        }

        .submit_siftings {
            background: #0894ec;
            height: 1.8rem;
            color: #fff;
            border-radius: 1.8rem;
            max-width: 70%;
            margin: .8rem auto;
        }

        .icon-close {
            position: absolute;
            right: .2rem;
        }
        .mp0{

            margin:0;
        }
        .mp0.list-block li{
            margin:0;
            font-size:0.75rem;

        }
        .mp0.list-block ul{
            background: #cccccc;

        }
        .mp0.list-block .item-inner{
            min-height:1.1rem
        }
        .searceh{
            height: 7rem;
            background: #ffffff;
            position: absolute;
            top:2.2rem;
            left: 0;
            z-index: 999999;
            width: 100%;
        }
        .searceh .list-block{
            background: #ffffff;
            position: absolute;
            top:2.1rem;
            z-index: 999;
            width:100%;
        }
        .bar-header-secondary{
            top: 0;
        }
        .searceh .rowunit{
            position: absolute;
            top: 5rem!important;
            width: 100%;
            z-index: 999;
            width:90%;
            margin: 0 auto;
            right:0!important;
            left:50%;
            margin-left: -45%;
        }
    </style>
</head>
<body>
<div class="page-group" id="app">
    <!-- 单个page ,第一个.page默认被展示page_msn-->
    <div class="page page-current leave page_email_Admin page_memo page_msn" id="page_inEmail">
        <!--站内信头部-->
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left" onclick="$.uexBack()"></a>
            <a class="icon icon-search pull-right" @click="searchDom = !searchDom"></a>
            <!--<a class="icon pull-right">筛选</a>-->
            <h1 class="title">记录</h1>
        </header>
        <!--筛选功能-->

        <div class="searceh" v-show="searchDom" v-cloak>
            <div class="bar bar-header-secondary">
                <div class="searchbar">
                    <div class="searchbar row" style="width: 90%;padding: 0;margin: 0 auto;">
                        <div class="search-input">
                            <div class="row no-gutter">
                                <div class="col-40"> <input type="search" id='search' placeholder='请选择开始时间'   v-model="startTime" /></div>
                                <div class="col-20" style="text-align: center;height: 1.5rem;background: #ffffff"> -</div>
                                <div class="col-40"> <input type="search" id='search1' placeholder='请选择结束时间'  v-model="endTime" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-block mp0">
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="number" v-model="gkbh"  placeholder="请输入客户编号" style="    font-size: .65rem;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowunit">
                <div class="col-40">
                    <a class="button button-fill button-primary" style="top:0;right: .3rem;" @click="gkbh = startTime = endTime = ''">重置</a>
                </div>
                <div class="col-40" style="    margin-left: 24%;">
                    <a class="button button-fill button-primary" style="top:0;right: .3rem;" @click="searchClick">搜索</a>
                </div>
            </div>
        </div>
        <div class="content" >
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">申请</a>
                <a href="#tab2" class="tab-link button">审核通过</a>
                <a href="#tab3" class="tab-link button">审核不通过</a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <ul>

                            <li v-for="el in list"  @click="clickShowList(el)">
                                <!--{{el}}-->
                                <a href="javascript:;">
                                    <div class="ub ub-f1 ub-as ub-pc ub-ver"  >
                                        <div class="ub ub-f1 ub-ac ub-pj email_Admin_list">
                            <span class="ub ub-as ub-pc ub-f1 ub-ver ut-m line1">
                                {{el.artisan}}
                                </span>
                                            <div class="ub ub-ac ub-pc email_Admin_right">
                                                <span>{{el.createtime}}</span>
                                                <span class="icon icon-down"></span>
                                            </div>
                                        </div>
                                        <div class="ub ub-f1 ub-ac ub-ps email_Admin_list_bottom"><span>{{el.gkxm}}</span></div>
                                    </div>
                                    <div class="list-block mp0" v-show="showList == el">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">开卡项目</div>
                                                    <div class="item-after">{{el.cname}}</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本次耗卡次数</div>
                                                    <div class="item-after">{{el.bchkcs}}</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本次耗卡金额</div>
                                                    <div class="item-after">{{el.bchkje}}元</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab2" class="tab">
                        <ul>

                            <li v-for="el in list"  @click="clickShowList(el)">
                                <!--{{el}}-->
                                <a href="javascript:;">
                                    <div class="ub ub-f1 ub-as ub-pc ub-ver"  >
                                        <div class="ub ub-f1 ub-ac ub-pj email_Admin_list">
                            <span class="ub ub-as ub-pc ub-f1 ub-ver ut-m line1">
                                {{el.artisan}}
                                </span>
                                            <div class="ub ub-ac ub-pc email_Admin_right">
                                                <span>{{el.createtime}}</span>
                                                <span class="icon icon-down"></span>
                                            </div>
                                        </div>
                                        <div class="ub ub-f1 ub-ac ub-ps email_Admin_list_bottom"><span>{{el.gkxm}}</span></div>
                                    </div>
                                    <div class="list-block mp0" v-show="showList == el">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">开卡项目</div>
                                                    <div class="item-after">{{el.cname}}</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本次耗卡次数</div>
                                                    <div class="item-after">{{el.bchkcs}}</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本次耗卡金额</div>
                                                    <div class="item-after">{{el.bchkje}}元</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab3" class="tab">
                        <ul>

                            <li v-for="el in list"  @click="clickShowList(el)">
                                <!--{{el}}-->
                                <a href="javascript:;">
                                    <div class="ub ub-f1 ub-as ub-pc ub-ver"  >
                                        <div class="ub ub-f1 ub-ac ub-pj email_Admin_list">
                            <span class="ub ub-as ub-pc ub-f1 ub-ver ut-m line1">
                                {{el.artisan}}
                                </span>
                                            <div class="ub ub-ac ub-pc email_Admin_right">
                                                <span>{{el.createtime}}</span>
                                                <span class="icon icon-down"></span>
                                            </div>
                                        </div>
                                        <div class="ub ub-f1 ub-ac ub-ps email_Admin_list_bottom"><span>{{el.gkxm}}</span></div>
                                    </div>
                                    <div class="list-block mp0" v-show="showList == el">
                                        <ul>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">开卡项目</div>
                                                    <div class="item-after">{{el.cname}}</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本次耗卡次数</div>
                                                    <div class="item-after">{{el.bchkcs}}</div>
                                                </div>
                                            </li>
                                            <li class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">本次耗卡金额</div>
                                                    <div class="item-after">{{el.bchkje}}元</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='../js/min/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/mains.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/config.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/min/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/min/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/demos.js' charset='utf-8'></script>
<script type="text/javascript" src="../js/flipsnap.js"></script>

<script type="text/javascript">


    /*//跳去详情页面
    function toReceiveDetail(id, name, n, senduserid) {
        $.setStorage('receive_id', id)
        $.setStorage('receive_name', name)
        $.setStorage('receive_num', n);
        $.setStorage('receive_senduserid', senduserid);
        $.uexOpen('receiveMail_detail');
    }
    function $openHome() {
        $.getStorage('homeEmail') == "1" ? $.uexOpen('index') : $.uexOpen('application');
        $.setStorage('homeEmail', '0');
    }*/
    var vm
    $.ready(function () {
      vm = new Vue({
            el:'#app',
            data: {
                showList:'',
                list:[],
                startTime:'',
                endTime:'',
                gkbh:'',
                searchDom:false
            },
            created: function (){
//            $.showIndicator()
                this.loadData(0);
                this.loadData(1);
                this.loadData(2);

            },
            methods: {
                searchClick:function(){
                    if(this.startTime != '' && this.endTime == ''){
                        $.toast("请选择结束时间");
                        return
                    }else if(this.endTime != '' && this.startTime == ''){
                        $.toast("请选择开始时间");
                        return
                    }
/*
                    this.page = 1
                    this.list = []
                    this.loading = false
                    this.preloaderShow = true
                    this.loadData()
                    this.searchDom = false*/
                },
                clickShowList:function (el) {
                    if(this.showList == el){
                        this.showList = ''
                    }else{
                        this.showList = el
                    }
                },
                loadData:function(type){
                    $.https({
                        url: mainURL+'xsSQRecord.do',
                        data: {
                            ParamJson: JSON.stringify({
                                type:type,
                                start:'',
                                end:'',
                                pageNo:1,
                                pageSize:20,
                            })
                        },
                        type: "post",
                        dataType: "json",
                        success: function (json) {
                            vm.page ++
                            vm.list = vm.list.concat(json.Row.cardList)
                            vm.$nextTick(function () {
                                $.hideIndicator()
                                $.refreshScroller();
                                if(json.Row.cardList.length <= 0 || json.Row.cardList.length < 20){
                                    vm.preloaderShow = false
                                }else{
                                    vm.loading = false
                                }
                            })
                        }
                    });
                }
            }
        })
       /* if (typeof uexWindow === "object") (function () {
        	uexWindow.setReportKey(0, 1);
            uexWindow.onKeyPressed = function () {
                $.setStorage('index', 1)
                $.uexOpen('application')
            };
        })();
        $.monitorVal({
            seeEmail: function () {
                $('[data-id="' + $.getStorage('receive_id') + '"]').find('.line1').removeClass('news_msn').addClass('news_msn_red');
            },
            addEmail: ''
        })
        $('.tab-link').click(function (event) {
            setTimeout($.refreshScroller, 1000)
        });*/

      /*  var SessionId = $.getStorage('SessionId');
        var userData = $.getUserData();
        var parameter = [];*/
        /*parameter[0] = {
            "pageNo": 1,//当前开始的页数(不传默认显示第一页的数据)
            "pageSize": "20",//每页显示的行数(不传默认显示20行的数据)
            "title": '',
            "dateStr": '',
            "sendusername": '',
            userid : userData.userid
        }
        parameter[1] = {
            "pageNo": 1,//当前开始的页数(不传默认显示第一页的数据)
            "pageSize": "20",//每页显示的行数(不传默认显示20行的数据)
            "title": '',
            "dateStr": '',
            "receiveusername": '',
             userid : userData.userid
        }
        $get_list(parameter[0], 0);
        $get_list(parameter[1], 1);
        //收到的信列表
        function $get_list(parameter, n) {
            var Method =  'receiveMsg.do'
            var obj = '.getMsg';
            if (n == 1) {
                Method =  'sendMsg.do'
                obj = '.sendMsg';
            }
            $.https({
                url: mainURL + Method,
                type: "post",
                data: {
                    ParamJson: JSON.stringify(parameter)
                },
                success: function (data) {
                    data = data.Row
                    var list_item = '';
                    $.each(data.messageReceiveList, function (index, mail) {
                        console.log(mail)
                        read_class = mail.state == 0 ? 'news_msn' : 'news_msn_red';
                        list_item += '<li data-id="' + mail.id + '">'
                                + '<a href="javascript:;">'
                                + '<div class="ub ub-f1 ub-as ub-pc ub-ver" onclick="toReceiveDetail(' + mail.id + ',\'' + (n == 1 ? mail.receivename : mail.sendname) + '\',' + n + ',' + mail.senduserid + ')" >'
                                + '<div class="ub ub-f1 ub-ac ub-pj email_Admin_list">'
                                + '<span class="ub ub-as ub-pc ub-f1 ub-ver ut-m line1 ' + read_class + '">'
                                + mail.title
                                + '</span>'
                                + '<div class="ub ub-ac ub-pc email_Admin_right">'
                                + '<span>' + mail.createtime + '</span>'
                                + '<span class="icon icon-right"></span>'
                                + '</div>'
                                + '</div>'
                                + '<div class="ub ub-f1 ub-ac ub-ps email_Admin_list_bottom"><span>' + (n == 1 ? '发送给' : '来自') + '</span><span>' + (n == 1 ? mail.receivename : mail.sendname) + '</span></div>'
                                + '</div>'
                                + '</a>'
                                + '</li>'
                                + '<dt></dt>';

                    })
                    $(obj).append(list_item);
                    loading = false;
                    $.refreshScroller();
                    if (data.messageReceiveList.length < 20) {
                        $('.toogle').eq(n).show();
                        $('.infinite-scroll-preloader').eq(n).hide();
                        return;
                    }
                }
            })
        }*/

        var loading = false, tabIndex = 0;
        $(document).on('infinite', function () {
            if (loading) return;
            loading = true;
            tabIndex = $('.tab.active').attr('id') == 'tab1' ? 0 : 1
            parameter[tabIndex].pageNo++;
            var name = $('#name').val();
            var title_sx = $('#title_sx').val();
            var time_begin = $('#time_begin').val();
            if (tabIndex == 0) {
                parameter[tabIndex].sendusername = name
            } else {
                parameter[tabIndex].receiveusername = name
            }
            parameter[tabIndex].title = title_sx;
            parameter[tabIndex].dateStr = time_begin;
            $get_list(parameter[tabIndex], tabIndex);
        });
        $("#time_begin").calendar();
        $(document).on('click', '.pull-right', function () {//点击触发筛选下拉
            tabIndex = $('.tab.active').attr('id') == 'tab1' ? 0 : 1
            var text = tabIndex == 1 ? '发送人' : '来自'
            $('#name').attr('placeholder', text).parent().siblings().text(text + '：')
            if ($('#wrap_siftings').hasClass('active_siftings')) {
                classHide();
            } else {
                $('#job_siftings').show();
                $('#wrap_siftings').addClass('active_siftings')
            }
        })
        function classHide() {
            $('#wrap_siftings').removeClass('active_siftings')
                    .on('webkitTransitionEnd', function () {
                        $('#job_siftings').hide();
                    })
        }

        $(document).on('click', '.submit_siftings', function (event) {
            classHide()
            parameter[tabIndex].pageNo = 1;
            var name = $('#name').val();
            var title_sx = $('#title_sx').val();
            var time_begin = $('#time_begin').val();
            var obj = tabIndex == 0 ? '.getMsg' : '.sendMsg';
            if (tabIndex == 0) {
                parameter[tabIndex].sendusername = name
            } else {
                parameter[tabIndex].receiveusername = name
            }
            parameter[tabIndex].title = title_sx;
            parameter[tabIndex].dateStr = time_begin;
            $(obj).children().remove();
            $get_list(parameter[tabIndex], tabIndex);
        });
        $(document).on('click', '.icon-close', function (event) {
            $(this).siblings('input').val('')
        });
    })
</script>
</body>
</html>
