<!DOCTYPE html>
<html>
<head>
    <title>应用</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/min/sm.css">
    <link rel="stylesheet" href="../css/min/sm-extend.css">
    <link rel="stylesheet" href="../css/min/flexBox.css">
    <link rel="stylesheet" href="../css/tonXin.css">
    <script type='text/javascript' src='../js/vue.min.js' charset='utf-8'></script>
    <style>
        .button{
            margin: 1rem auto;
            width:96%;
        }
        .page .content input{
            padding: 15px 10px;
        }
        .row.no-gutter .col-20{
            padding: 10px;
        }
        .card{
            margin:0;
        }
        .item-after{
            width: 50%;
            white-space: inherit!important;
            max-height: inherit!important;
            text-align: right!important;
        }
        [v-cloak] {
            display: none;
        }
        .card-header{
            position: relative;
        }
        .icon-down{
            position: absolute;
            bottom:.15rem;
            font-size:.5rem;
            left:50%;
            margin-left: -.25rem;
        }
    </style>
</head>
<body>
<div class="page-group" id="app">
    <div class="page page-current">
        <header class="bar bar-nav">
            <h1 class='title'>生成记录</h1>
            <a class="icon icon-left pull-left" onclick="$.uexBack()"></a>
        </header>
        <div class="content">
            <div class="row no-gutter">
                <div class="col-40"> <input type="search" id='start' placeholder='请选择开始时间' @change="change1"  v-model="start" /></div>
                <div class="col-20" style="text-align: center;height: 1.5rem;background: #ffffff"> -</div>
                <div class="col-40"> <input type="search" id='end' placeholder='请选择结束时间' @change="change2" v-model="end" /></div>
            </div>
            <a href="javascript:;" @click="submit" class="button button-fill button-big">生成记录</a>
            <div class="card" v-for="(el,index) in list" v-cloak v-if="cardShow">
                <div class="card-header" ><span @click="cardValClick(index)">{{index}}  </span> <span class="icon icon-down" @click="cardValClick(index)"></span> <span style="color:#666666;font-size:.7rem" @click="openshengjil(index,el[1])">详细记录</span></div>
                <div class="card-content" v-if="cardVal == index">
                    <div class="list-block">
                        <ul>
                            <li class="item-content" v-for="(e,i) in el[0][0]">
                                <div class="item-media"><i class="icon icon-f7"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">{{i}}</div>
                                    <div class="item-after">{{e}}</div>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src='../js/min/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/mains.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/config.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/min/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/min/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../js/demos.js' charset='utf-8'></script>

<script type="text/javascript">
    var vm = null
    $.ready(function(){
        vm = new Vue({
            el:'#app',
            data:{
                start:'',
                end:'',
                loadding:false,
                list:[],
                cardVal:'',
                cardShow:true
            },
            mounted:function () {
                $("#start,#end").calendar();
                //
                $.https({
                    url:mainURL + 'xSMKJKCK.do',
                    type:"post",
                    data:{
                        ParamJson : JSON.stringify({
                            start:this.start,
                            end:this.end,
                            userid:$.getUserData().userid
                        })
                    },
                    success:function(data) {
                        vm.list =data.Row
                        console.log(data)
                    }
                })
            },
            methods:{
                openshengjil:function(title,url){
                    if(this.start != '' ||  this.end != ''){
                        if(this.start == ''){
                            $.toast("请选择开始时间");
                            return
                        }else if(this.end == ''){
                            $.toast("请选择结束时间");
                            return
                        }
                        var start = new Date(this.start + ' 00:00:00').getTime()
                        var end = new Date(this.end + ' 00:00:00').getTime()
                        if(end < start){
                            $.toast("结束日期不能小于开始日期");
                            return
                        }
                    }

                    $.setStorage("shengchengjilu2",JSON.stringify({
                        start:this.start,
                        end:this.end,
                        userid:$.getUserData().userid,
                        title:title,
                        url:url
                    }))
                    $.uexOpen('shengchengjilu2')
                },
                cardValClick:function (val) {

                    if(this.cardVal == val){
                        this.cardVal = ''
                    }else{
                        this.cardVal = val
                    }
                },
                change1:function () {
                    this.start = $('#start').val()
                },
                change2:function () {
                    this.end = $('#end').val()
                },
                submit:function(){
                    if(this.start == ''){
                        $.toast("请选择开始时间");
                        return
                    }
                    if(this.end == ''){
                        $.toast("请选择结束时间");
                        return
                    }
                    var start = new Date(this.start + ' 00:00:00').getTime()
                    var end = new Date(this.end + ' 00:00:00').getTime()
                    if(end < start){
                        $.toast("结束日期不能小于开始日期");
                        return
                    }

                    if(this.loadding) return
                    this.loadding = true 
                    var vm = this
                    var user = $.getUserData()
                    this.cardShow = false
                    $.https({
                        url:mainURL + 'xsSQRecord.do',
                        type:"post",
                        data:{
                            ParamJson : JSON.stringify({
                                start:this.start,
                                end:this.end,
                                username:user.username,
                                userid:user.userid
                            })
                        },
                        success:function(data) {
                            $.toast(data.Msg)
                            vm.list = data.Row
                            vm.cardShow = true
                            vm.loadding = false
                        }
                    })
                }
            }


        })
    })



</script>
</body>
</html>
